<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Leonardo Morari e Nicolas Gustavo">
  <link rel="stylesheet" href="../public/Styles/geral.css">
  <link rel="stylesheet" href="../public/Styles/cadastro.css">
  <title>Cadastro</title>
</head>
<body>
  <body>
    <!-- Tela de Cadastro-->
    <div class="container">
      <div class="img-container">
        <img src="../public/Img/Drink-cadastro.png" alt="imagem de um drink">
      </div>
      <div class="container-form">
        <p><i class="fa-solid fa-martini-glass-citrus fa-xl" style="color: #000;"></i> Realize o seu <span>Cadastro</span></p>
        <form class="input-group" id="CadastroForm">
          <input type="text" id="nome" placeholder="Digite seu nome" required>
          <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
          <input type="password" id="senha" name="password" placeholder="Digite uma Senha" required>
          <button type="submit" class="btn-logar">Cadastrar-se</button>
          <button class="btn-tela-cadastro">Voltar para Login</button>
          <p id="error" class="error-message"></p>
        </form>
      </div>
    </div>
    <script src=""></script>
  </body>
</body>
</html>