<div id="descriptionModal" class="modal">
  <div class="modal-content">
    <span class="close" id="descriptionCloseBtn">&times;</span>
    <h2 id="modalDrinkTitle"></h2>
    <p id="modalDrinkDescription"></p>
  </div>
</div>
