<div id="successModal" class="modal">
  <div class="modal-content-1">
    <span class="close" id="closeSuccessModal">&times;</span>
    <div class="text-content">
      <img src="/img/check.png" alt="check" title="check" />
      <h2>Reserva realizada com sucesso!</h2>
    </div>
  </div>
</div>
